
{% extends 'blog/base.html' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
{% load static %}
<section class="py-5">
    <div class="container">
        <h2 class="mb-8">Cambiar contraseña</h2>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header font-weight-bold">
                        Cambiar contraseña
                    </div>
                    <div class="card-body">
                        <form method="POST"> 
                            {% csrf_token %}  <!-- CSRF Token added here -->
                            {{ form.as_p }}
                            <button type="buscar" class="btn btn-info">Cambiar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}