
{% extends 'blog/base.html' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
{% load static %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header font-weight-bold">
                        Contraseña cambiada con exito
                    </div>
                    <div class="card-body">
                        Has cambiado tu contraseña
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}